@import "compass/css3/transition";
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;

    .slideLeft{
	@include transition(margin-left 0.3s ease-in);
    }
    .slideRight{
	@include transition(margin-left 0.3s ease-in);
    }
    .slideDown{
	@include transition(margin-top 0.3s ease-in);
    }
    .slideUp{
	@include transition(margin-top 0.3s ease-in);
    }
    .fade{
	@include transition(opacity 0.3s ease-in);
    }
    .pop{
	overflow:hidden;
	@include transition(width 0.2s ease-in,
			    height 0.2s ease-in,
			    margin-top 0.2s ease-in,
			    margin-left 0.2s ease-in);
    }

    .reveal, .cover{
	@include transition(left 0.3s ease-in, top 0.3s ease-in);
    }
}