.inner{
    width:720px;
}
.blue{
    color:#f8a8ae;//74b6fe
}
.dark{
    color:#dd310d;
}
pre.leftCol{
    padding:10px;
    float:left;
    width:47%;
}
pre.rightCol{
    padding:10px;
    float:right;
    width:47%;
}
.bordo{
    color:#f6dfe0;
}